@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;1,400&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  margin: 0;

}

body{
  margin: 0; 
  justify-content:end;
  background-image: url(build.jpg);
  

}

 
@media screen and (max-width:768px) {
  .nav {
  transition: 0.8 all ease;
  background-color: #082741;
  color: #e9e4e9;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap :2rem;
  padding: 20px;

}

.Population-Growth{
  font-size: 2rem;
  object-fit: fill;
  width: 100%;
  height: 100vh; 
  
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}


.nav a {
  color: inherit;
  text-decoration: none;
  

}



h3{
    color: #fff5f5;
    padding: 600px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    padding-top: 40px;
    display:flex;

  
  }


  video{
    width: 200%;
    height: 100%; 
    object-fit: contain;
  
    
  }
  
  .HOME-Page{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  
  }
  
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
  
  
  }
  
}
.nav {
  background-color:rgb(6, 2, 39);
  color: rgb(101, 101, 206);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap :2rem;
  padding: 20px;

  
}

.Population-Growth{
  font-size: 2rem;
  object-fit: fill;
  width: 100%;
  height: 100vh; 
  
}

video{
  width: 100%;
  height: 100%; 
  object-fit: cover;

  
}

.HOME-Page{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(150, 150, 222);

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  /* background-color: #000000cc; */


}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;

}


.nav a {
  color: inherit;
  text-decoration: none;

}

h3{
    color: #b83c3c;
    /* padding: 600px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content:center ; */
    /* padding-top: 40px; */
    /* display:flex; */
  
  }
  

.H-container{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  color: white;

} 

h4{
  font-size: larger;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}